<!--Students Details and Attendance Details---->
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Selected Mode</th>
			<th>Attendance</th>
		</tr>
	</thead>
	<tbody>
		<% for(let key of Object.keys(attendance_details)) {%>
		<tr data-user_id = <%= attendance_details[key].id %> data-unique_key = <%= class_unique_key %> data-lecture_id = <%= lecture_id %>>
			<td><%= attendance_details[key].name %></td>
			<td><%= attendance_details[key].email %></td>
			<td>
				<%= (attendance_details[key].mode != null) ? attendance_details[key].mode : "Not Selected" %>
			</td>
			<td>
				<div class="form-check form-switch">
				  <input class="form-check-input mark_attendance_toggle" type="checkbox" role="switch" <%= (attendance_details[key].is_present == 1) ? "checked" : "" %> />
				</div>
			</td>
		</tr>
		<%}%>
	</tbody>
</table>